.green_bg {
  background: url("/images/green_bg.png") repeat;
}

.flex_container {
  display: flex;
  flex-direction: row;
}
.homepage {
  position: relative;
  &.green_bg {
    padding-right: 0;
    .flex_container {
      .img_panel {
        img {
          position: absolute;
          bottom: 0;
        }
      }
    }
    &.users_love_buddy {
      padding: 100px 0;

      h2 {
        text-align: center;
        margin-bottom: 50px;
      }
      .text_dscr {
        margin-bottom: 40px;
      }
      .speech_bubble {
        .img_box {
          width: 30px;
          margin: 0 auto 10px auto;
        }
      }
    }
    .img_panel {
      width: 40%;
      float: left;
      position: relative;
      padding-top: 10%;
      img {
        width: 30vw;
      }
      @media only screen and (min-width: 768px) {
        // width: 75%;
      }
      @media only screen and (min-width: 576px) {
        // width: 75%;
        // float: right;
        padding-top: 20% !important;
        padding-left: 60%;
      }
      @media only screen and (min-width: 320px) {
        padding-top: 0%;
        padding-left: 60%;
      }
    }
    .text_panel {
      // width: 60%;
      float: left;
      padding: 100px 0;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        line-height: 30px;

        &.medium_size {
          font-size: 20px;
          margin: 30px 0 40px 0;
        }
      }
      @media only screen and (min-width: 320px) {
        padding: 100px 30px;
      }
      .clearfix {
        img {
          height: 46px;
          @media only screen and (min-width: 576px) {
            height: 42px !important;
          }
          @media only screen and (min-width: 320px) {
            height: 30px;
          }
        }
        .ios-img {
          @media only screen and (min-width: 576px) {
            height: 41px !important;
          }
          @media only screen and (min-width: 320px) {
            height: 29px;
          }
        }
      }
    }
  }

  // .text_panel {
  //   // width: 60%;
  //   float: left;
  //   padding: 100px 0;
  //   h2 {
  //     font-size: 30px;
  //     margin-bottom: 20px;
  //   }
  //   p {
  //     font-size: 18px;
  //     line-height: 30px;

  //     &.medium_size {
  //       font-size: 20px;
  //       margin: 30px 0 40px 0;
  //     }
  //   }
  //   @media only screen and (min-width : 320px) {
  //     padding: 100px 30px;
  //   }
  //   .clearfix{
  //     img {
  //       height: 46px;
  //       @media only screen and (min-width : 576px) {
  //         height: 42px!important;
  //       }
  //       @media only screen and (min-width : 320px) {
  //         height: 30px;
  //       }
  //     }

  //   }
  // }
  // .img_panel {
  //   // width: 40%;
  //   float: left;
  //   position: relative;
  //   padding-top: 10%;
  //   img {
  //     width: 30vw;
  //   }
  //   @media only screen and (min-width : 768px) {
  //     // width: 75%;
  //   }
  //   @media only screen and (min-width : 576px) {
  //     // width: 75%;
  //     // float: right;
  //     padding-top: 20% !important;
  //     padding-left: 60%;
  //   }
  //   @media only screen and (min-width : 320px) {
  //     padding-top: 0%;
  //     padding-left: 60%;
  //   }

  // }
  .down_arrow {
    position: absolute;
    bottom: 30px;
    left: 45%;
    cursor: pointer;
  }

  &.blue_bg {
    background: #d2e1fc;

    &.wallet {
      .text_img_panel {
        height: auto;
        margin-bottom: 40px;
      }
      .img_panel {
        position: relative;
      }
      .blue_button {
        margin-top: 50px;
        display: inline-block;
      }
    }
    // .text_panel {
    //   width: 100%;
    //   height: auto;
    //   padding-bottom: 0;
    //   float: none;
    // }
    .text_panel {
      // width: 60%;
      float: left;
      padding: 100px 0;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        line-height: 30px;

        &.medium_size {
          font-size: 20px;
          margin: 30px 0 40px 0;
        }
      }
      @media only screen and (min-width: 320px) {
        padding: 100px 30px 0px;
        margin-bottom: 45%;
      }
      .clearfix {
        img {
          height: 46px;
          @media only screen and (min-width: 576px) {
            height: 42px !important;
          }
          @media only screen and (min-width: 320px) {
            height: 30px;
          }
        }
      }
    }
    .img_panel {
      position: absolute;
      bottom: 0;
      width: 60%;
      img {
        position: relative;
        width: 100%;
        @media only screen and (min-width: 576px) {
          width: 90% !important;
          margin-left: 0% !important;
        }
        @media only screen and (min-width: 320px) {
          width: 80%;
          margin-left: 46%;
        }
      }
      @media only screen and (min-width: 768px) {
        width: 75% !important;
        margin-left: 11%;
      }
      @media only screen and (min-width: 576px) {
        width: 75% !important;
      }
    }
    .features {
      padding-top: 100px;

      .thumbnail_with_info {
        text-align: center;
        margin-bottom: 50px;
        // padding: 0 40px;
        img {
          width: 40%;
        }
        h4 {
          font-size: 16px;
          margin: 10px 0;
        }
        p {
          font-size: 13px;
          color: #525252;
        }
      }
    }
  }
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.msgs {
  .modal-body {
    overflow: auto;
    height: 500px;
  }
  .modal-content {
    width: min-content;
  }
}

.footerMainWrapper {
  .footerTitleWrapper {
    .footerTitle {
      font-weight: 700 !important;
      text-transform: uppercase !important;
    }
  }
  .footerTitleValuesWrapper {
    .ios-image,
    img {
      height: 35px;
      @media only screen and (min-width: 576px) {
        height: 35px !important;
      }
      @media only screen and (min-width: 320px) {
        height: 30px;
      }
    }
    .followUsImage {
      height: 50px;
    }
    .contactUsTitle {
      font-size: 15px;
      font-weight: 200;
    }
  }
  .footerEndSectionStyle {
    font-size: 14px;
    color: #9c9b9a;
  }
  .appLinkText {
    float: right;
    @media only screen and (min-width: 576px) {
      float: right !important;
    }
    @media only screen and (max-width: 576px) and (min-width: 320px) {
      float: left;
    }
  }
}
